html {
    font-size: 14px;
    background-color: #00a6fb;
    padding-top 200px;
}
header {
    height:200px;
}
body {
    padding-top 200px;
    color:white;
    margin-bottom: 60px;
    background-color: #00a6fb;
    width: 100%;
    margin: 200 auto;
    text-align-last:center;
}

div {
    width: 100%;

}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #00a6fb;
    width:100%;
}
div {
    width:100%;
}