@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class=" text-center">
    <h1 >Url Shortener </h1>
      <br />
    <form method="post">
        <input type="text" name="Url" value="" class="form-control"/>
        <br />
        <input id="Button1" type="submit" value="Create" class="btn btn-secondary btn-lg" />       
    </form>     
    <h1   >@ViewData["returnedUrl"]  </h1>
    <h1   >@TempData["message"]  </h1>
    
</div>
